* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto-flex;
    font-weight: 100;
    background-color: var(--main-blue);
    color: var(--main-white);
}

html {
    scroll-behavior: smooth;
}

:root{
    --main-yellow : #16f0bd;
    --main-white : #fff7f7;
    --main-dark : #00fac0;
    --main-blue : #6fa0b7;
    --main-pink : #91eae3;
    --main-skills : #61858f;
}


@font-face {
    font-family: proximanova-light;
    src: url('../fonts/Fontspring-DEMO-proximanova-light.otf') format('opentype'), /* Modern Browsers */
}

@font-face {
    font-family: proximanova-medium;
    src: url('../fonts/Fontspring-DEMO-proximanova-medium.otf') format('opentype'), /* Modern Browsers */
}

@font-face {
    font-family: proximanova-cond;
    src: url('../fonts/Fontspring-DEMO-proximanovacond-light.otf') format('opentype'), /* Modern Browsers */
}

@font-face {
    font-family: roboto-flex;
    src: url('../fonts/RobotoFlex-Regular.ttf') format('truetype'), /* Modern Browsers */
}


h1 {
    font-size: 8vw;
}

h2 {
    font-size: 3vw;
}
h3 {
    font-size: 3vw;
    font-family: roboto-flex;
}
h4 {
    font-size: 2vw;
}
p {
    font-size: 1.2vw;
}
em {
    color: var(--main-dark);
    font-weight:10px;
}