* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: VilaneExtraLight;
    /* background-color: var(--main-blue); */
}

:root{
    --main-yellow : #16f0bd;
    --main-white : #F7EDE2;
    --main-dark : #00fac0;
    --main-blue : #7598a7;
    --main-pink : #64ffda;
    --main-skills : #61858f;
}


@font-face {
    font-family: VilaneExtraLight;
    src: url('../fonts/VilaneExtraLight.woff') format('woff'), /* Modern Browsers */
         url('../fonts/VilaneRegular.woff2') format('woff2'),
         url('../fonts/VilaneExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.homeContainer {
    background-color: var(--main-blue);
}